@using EcommerceApp_Bulky.Web.ViewModels;
@model ProductVM
@{
    ViewData["Title"] = "Create";
}


<form method="post">

    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.Title"></label>
        <input type="text" asp-for="@Model.ProductcreateDto.Title" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.Title" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.Description"></label>
        <textarea class="form-control" asp-for="@Model.ProductcreateDto.Description" maxlength="2500" rows="4"></textarea>
        <span asp-validation-for="@Model.ProductcreateDto.Description" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.ISBN"></label>
        <input type="text" asp-for="@Model.ProductcreateDto.ISBN" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.ISBN" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.Author"></label>
        <input type="text" asp-for="@Model.ProductcreateDto.Author" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.Author" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.ListPrice"></label>
        <input type="number" asp-for="@Model.ProductcreateDto.ListPrice" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.ListPrice" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.Price"></label>
        <input type="number" asp-for="@Model.ProductcreateDto.Price" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.Price" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.Price50"></label>
        <input type="number" asp-for="@Model.ProductcreateDto.Price50" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.Price50" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.Price100"></label>
        <input type="number" asp-for="@Model.ProductcreateDto.Price100" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.Price100" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.ImageUrl"></label>
        <input type="text" asp-for="@Model.ProductcreateDto.ImageUrl" class="form-control" />
        <span asp-validation-for="@Model.ProductcreateDto.ImageUrl" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label asp-for="@Model.ProductcreateDto.CategoryId"></label>
        <select asp-for="@Model.ProductcreateDto.CategoryId" asp-items="@Model.CategoriesList">
            <option disabled selected>--Select Category--</option>
        </select>
        <span asp-validation-for="@Model.ProductcreateDto.CategoryId" class="text-danger"></span>
    </div>
    <div class="mt-2 m-1">
        <button type="submit" asp-action="Create" class="btn btn-primary">Create</button>
        <button asp-action="Index" class="btn btn-secondary">Back</button>
    </div>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}